.footer_widget h3 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.docmed-all {
    margin: 1em 0;
}

.lead p {
    font-weight: bold;
}
